.home {
    background-image: url('./images/truebackground.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    /* background-color: yellowgreen; */
    text-align:center;
    background-size: cover;
    text-align: center;
    font-style: oblique;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 20px 20px;
    float: right;
  }
  li {
    display: inline;

  }
  a {
      padding:10px;
      text-decoration: none;
      color: navajowhite;
  }

  nav>ul>li>a:hover {
    border: 2px rgb(19, 230, 159);
    background-color: whitesmoke;
    transition-duration: 2s;
    border-radius: 3px;
  }
 
 nav {
    overflow: hidden;
    background-color: #1E212D;
    font-family: Arial;
  } */
  
  /* Links inside the navbar
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* The dropdown container */
  /* .dropdown {
    float: left;
    overflow: hidden;
  } */
 

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}